*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #F3F5FC;
}

header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.seccion1{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.contenedorEjecuta{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-100%, -50%);
}

.contenedor-cajaTexto{
    width: 100%;
    height: 48px;
    position: absolute;
    top: 100px;
    left: 150px;
    
}

.cajaTexto{
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;
    color: #0A3871;
    background-color: #F3F5FC;
    font-size: 32px;
    font-weight: 400px;
    font-family: "Inter", sans-serif;
    resize: none;
}

.cajaTexto::placeholder{
    color: #0A3871;
}

.contenedorAlerta{
    position: absolute;
    width: 229px;
    height: 18px;
    bottom: 85px;
    left: 150px;
    display: flex;
    color: #495057;
    gap: 8px;
    align-items: center; 
    margin: 0;
    padding: 0;
}

.contenedorAlerta img{
    width: 16px;
    height: 16px;
}

.contenedorAlerta p{
    width: 205px;
    height: 12px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    opacity: 80%;
    color: #495057;
}

.contenedorBotones{
    position: absolute;
    bottom: 10px;
    left: 150px;
    width: 150%;
    height: 67px;
    display: flex;
    gap: 24px;
    margin: 0;
}

.btn-encriptar{
    width: 50%;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.btn-desencriptar{
    width: 50%;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.seccion2{
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    top: 40px;
    overflow: hidden;
}

.contenedorEncriptado{
    width: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenedorCentrar{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.contenedorFigura{
    display: flex;
    position: relative;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 304px;
    top: 10px;
}

.contenedorParrafo{
    text-align: center;
    width: 100%; 
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.contenedorParrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
    align-items: center;
    
}

.contenedorParrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

.contenedorResultado{
    text-align: center;
    position: relative;
    top: 25%;
    width: 100%;
    box-sizing: border-box;

}

.contenedorResultado p{
    color: #495057;
    font-size: 25px;
}

.contenedorCopiar{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 100%; 
}

.btn-copiar{
    width: 80%;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    top: 50px;
    
}

.ocultar{
    display: none;
}

@media screen and (max-width:480px) {
    
}
